.container {
    text-align: center;
    background-color: aqua;
}

table {
    margin: auto;
}

input {
    font-size: medium;
}

button {
    font-size: medium;
    background-color: #6264d6;
    width: 100px;
    height: 30px;
}

.calculator {
    display: inline-block;
}